<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.15/jsrender.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/navigo/8.11.1/navigo.min.js"
            referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Actores</h1>
        <!-- Modify Actor -->
        <script id="modify_actors_template" type="text/x-jsrender-template">
            <h1>Modificar Actor {{:actor.id}}</h1>
            <form id="modifyActorForm">

                <label for="movies">Película</label>
                <select id="movies" name="movies_id">
                    {{for movies.movies}}  <!--Marca selected si esta película es la que tiene el actor-->
                    <option value="{{:id}}" {{if ~root.actor.movies_id== id}}selected{{
                    /if}}>{{:title}}</option>
                    {{/for}}
                </select>

                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" value="{{:actor.name}}">
                <br>

                <label for="nationality">Nacionalidad</label>
                <input type="text" id="nationality" name="nationality" value="{{:actor.nationality}}">
                <br>

                <label for="birth_date">Fecha de nacimiento</label>
                <input type="date" id="birth_date" name="birth_date" value="{{:actor.birth_date}}">
                <br>

                <label for="height">Altura en cm</label>
                <input type="number" id="height" name="height" value="{{:actor.height}}">
                <br>

                <label for="awards">Premios</label>
                <input type="text" id="awards" name="awards" value="{{:actor.awards}}">
                <br>

                <label for="social_networks">Redes Sociales </label>
                <input type="text" id="social_networks" name="social_networks" value="{{:actor.social_networks}}">
                <br>

                <label for="image">Imagen</label>
                <input type="text" id="image" name="image" value="{{:actor.image}}">
                <br>

                <input type="submit" class="add_actor_submit button warning" value="Modificar" data-id="{{:actor.id}}">

                <a href="#/" class="button success">Cancelar</a>
            </form>
        </script>
        <!-- Add Actor -->
        <script id="add_actors_template" type="text/x-jsrender-template">
            <h1>Insertar Actor</h1>
            <form id="add_actor_form">

                <label for="movies">Película</label>
                <select id="movies" name="movies_id">
                    {{for movies}}
                    <option value="{{:id}}">{{:title}}</option>
                    {{/for}}
                </select>

                <label for="name">Nombre</label>
                <input type="text" id="name" name="name">
                <br>

                <label for="nationality">Nacionalidad</label>
                <input type="text" id="nationality" name="nationality">
                <br>

                <label for="birth_date">Fecha de nacimiento</label>
                <input type="date" id="birth_date" name="birth_date">
                <br>

                <label for="height">Altura en cm</label>
                <input type="number" id="height" name="height">
                <br>

                <label for="awards">Premios</label>
                <input type="text" id="awards" name="awards">
                <br>

                <label for="social_networks">Redes Sociales </label>
                <input type="text" id="social_networks" name="social_networks">
                <br>

                <label for="image">Imagen</label>
                <input type="text" id="image" name="image">
                <br>

                <input class="button blue" type="submit" id="add_actor_form_submit" value="Añadir">

                <a href="#/" class="button success">Cancelar</a>

            </form>
        </script>
        <!-- Show Actors-->
        <script id="show_actors_template" type="text/x-jsrender-template">

            <a href="#/add" class="button blue">Añadir</a>

            <a href="/" class="button success ">Inicio</a>

            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Película</th>
                    <th>Nacionalidad</th>
                    <th>Fecha de nacimiento</th>
                    <th>Altura</th>
                    <th>Premios</th>
                    <th>Redes Sociales</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {{for actors}}
                <tr>
                    <td>{{:id}}</td>
                    <td>{{:name}}</td>
                    <td>{{:title}}</td>
                    <td>{{:nationality}}</td>
                    <td>{{:birth_date}}</td>
                    <td>{{:height}} cm</td>
                    <td>{{:awards}}</td>
                    {{if social_networks}}
                    <td><a href="{{:social_networks}}" target="_blank"><img src="/images/instagram.png" alt="instagram"
                                                                            class="icon"></a></td>
                    {{else}}
                    <td></td>
                    {{/if}}
                    <td><img src="{{:image}}"></td>
                    <td>
                        <a href="#/modify?id={{:id}}" class="button warning">Modificar</a>
                        <a href="#/delete?id={{:id}}" class="button error">Eliminar</a>
                    </td>
                </tr>
                {{/for}}
                </tbody>
            </table>
        </script>

        <div id="app"></div>

    </div>
</div>
<script>
    // Creacion del router como una constante
    const router = new Navigo('/', {hash: true});

    // Se definen las rutas
    router
        .on('/', showActors)
        .on('/actors.html', showActors)
        .on('/add', addActors)
        .on('/modify', showModifyActorsForm)
        .on('/delete', deleteActors)
        .resolve();


    // ADD
    function addActorForm(event) {
        event.preventDefault();
        let form = $("#add_actor_form");

        let parametros = form.serialize();

        $.post('/api/actors/', parametros, function (result) {
            router.navigate('/')
        }).catch(function (error) {
            console.log(error)
        })
    }

    function addActors() {
        $.getJSON('/api/movies/', function (movies) { // api/movies/ para elegir en la lista de movies
            let html = $("#add_actors_template").render(movies);
            $("#app").html(html);

            $("#add_actor_form_submit").on("click", addActorForm)
        });
    }

    // DELETE
    function deleteActors(params) {

        let id = params.params.id;

        $.ajax({
            url: '/api/actors/' + id,
            type: 'DELETE'
        }).then(function (result) {
            router.navigate('/')
        }).catch(function (error) {
            console.log(error)
        })
    }

    // MODIFY
    function getModifyActorsFormParams(event) {
        event.preventDefault();

        let form = $('#modifyActorForm');

        let parameters = form.serializeObject();

        let id = $(this).data("id");

        $.post('/api/actors/' + id, parameters, function (data) {
            router.navigate('/')
        }).catch(function (error) {
            console.log(error)
        });


    }

    function showModifyActorsForm(params) {

        let id = params.params.id;

        $.getJSON('/api/actors/' + id, function (dataActors) {
            $.getJSON('/api/movies/', function (dataMovies) {

                let actor = dataActors[0];

                if (actor.birth_date) { // acota el formato date a solo dd/mm/yyyy
                    actor.birth_date = actor.birth_date.substring(0, 10);
                }

                let data = {
                    'actor': actor,
                    'movies': dataMovies,
                };

                let html = $("#modify_actors_template").render(data);
                $("#app").html(html);

                $('.add_actor_submit').on('click', getModifyActorsFormParams);

            });
        });
    }

    // GET
    function showActors() {
        $.getJSON('/api/actors/', function (data) {

            let html = $("#show_actors_template").render(data);
            $("#app").html(html);

        });
    }

    $(document).ready(function () {
        router.navigate('/')
    });
</script>
</body>
</html>